.navbar {
    width: 100%;
    max-height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    background-image: linear-gradient(130deg, #000000 64%, #252424 100%);
    padding: 0px;
    position: fixed;
    z-index: 3;
}

.navbar-brand {
    max-height: 70px;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: left;
    margin: auto;
   
}
.nav ul li {
    list-style: none;
    margin-right: 1em;
   
}
.nav ul li a {
     color: white; 
    text-decoration: none;

}
.nav-link:hover {
    color: red;
    text-decoration: none;
}

.active {
     
    font-size: 1.2em;
    

}

.active:hover {
    color: white;
}

#logo {
    width: 150px;
    background-color: #000;
    position: relative;
    left: 0px;
}

.search-icon {
    border-radius: 0px;
    width: 25px;
    height: 25px;
    -webkit-filter: invert(1);
    filter: invert(1);
    position: relative;
    margin-top: 15px;
}

.rounded-profile {
    border-radius: 0px;
    width: 50px;
    height: 50px;
}

.smaller {
    width: 35px;
    height: 35px;
}

.arrow-down {
    margin-left: 3px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
}

.arrow-up {
    margin-left: 3px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
}

.navbar-element {
    margin-right: 1em;
}

.dropdown-menu {
    opacity: 0.95;
    background-color: #000;
    margin-top: 20px;
}

.dropdown-menu::before {
    content: "▲";
    position: relative;
    top: -30px;
    left: 165px;
    color: white;
}

.badge {
    height: 8px;
    width: 8px;
    font-size: 0.6em;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: red;
    color: white;
    position: relative;
    top: -7px;
    left: -17px;
}

.dropdown-item {
    color: white !important;
}

.nav-left {
    border: 1px solid transparent;
    position: absolute;
    left: 150px;
    margin-left: -20pxs\;;
}

.nav-right {
    border: 1px solid transparent;
}

.border-top {
    border-top: 1px solid transparent !important;
}

.border-down {
    border-bottom: 1px solid transparent !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* mobile first */

    nav ul li a {
        color: red;
        font-size: 1em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    nav ul li a {
        color: transparent;
        font-size: 1em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    nav ul li a {
        color: transparent;
        font-size: 0.85em;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    nav ul li a {
        color: transparent;
        font-size: 1em;
    }
}
