div.nav {
    background-color: black;
    max-height: 70px;


}
img {
    width: 150px;

}

.containerSettings {
    width: 60rem;
    height: 40rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 10px;
    position: relative;
    z-index: -1;
    background: transparent;
    overflow: hidden;
    margin: 0 auto;
    top: 50px;

  }

  .containerSettings:before {
    content: "";
    position: absolute;
    background: transparent;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.455);
    filter: blur(10px);
    margin: -20px;
  }

  div.Account {
      position: relative;
      text-align: left;

  }
  #h1Account{
      font-weight: 300;
  
  }
  hr {
      border-top: 1px solid grey;
      opacity: 0.5;

  }

  h4 {
      color: grey;
      opacity: 0.8;
      font-size:  18px;
      display: inline; 
      position: relative;
  }
  .flex1 {
      position: relative;
      display: inline;
  }
  p {
      position: relative;
      
  }
a {
    float: right;
   
}
.btn {
    color: white;
    background-color: rgb(146, 0, 0);
    border-radius: 3px;
    border: 0px solid transparent
    
}
body {
    min-height: 100vh;
    background-color: #dedede;
background-image: linear-gradient(160deg, #dedede 0%, #c7c7c7 100%);

}
.opacityPtag {
    opacity: 0.5;
}